{% layout 'layout.liquid' %}

{% block content %}
<div class="container-md">
    <form action="/mountains" method="POST">
        <fieldset>
            <legend><b><u>Add A New Mountain</u></b></legend>
            <label class="form-label">Name:</label>
            <input
                class="form-control"
                type="text"
                name="name"
                placeholder="enter name"
                value="{{mountain.name}}"
                >
            <label class="form-label">Image:</label>
            <input
                class="form-control"
                type="| img_url: 'medium'"
                name="img"
                placeholder="place url here"
                value="{{mountain.img}}"
                >
            <label class="form-label">Location:</label>
            <input
                class="form-control"
                type="text"
                name="location"
                placeholder="enter location"
                value="{{mountain.location}}"
                >
            <label class="form-label">Elevation:</label>
            <input
                class="form-control"
                type="text"
                name="elevation"
                placeholder="enter elevation"
                value="{{mountain.elevation}}"
                >
            <label class="form-label">Description:</label>
            <input
                class="form-control"
                type="text"
                name="description"
                placeholder="enter description"
                value="{{mountain.description}}"
                >
            <label class="form-label">Activities to do:</label>
            <input
                class="form-control"
                type="text"
                name="activity"
                placeholder="enter activities"
                value="{{mountain.activity}}"
                >
            <label class="form-label">Number of Lifts:</label>
            <input
                class="form-control"
                type="number" min="0"
                name="numberOfLift"
                placeholder="enter numberOfLift"
                value="{{mountain.numberOfLift}}"
                >
            <label class="form-label">Number of Slopes/Runs:</label>
            <input
                class="form-control"
                type="number" min="0"
                name="numberOfRun"
                placeholder="enter numberOfRun"
                value="{{mountain.numberOfRun}}"
                >
        </fieldset>
        <input
        type="submit"
        value="Add a Mountain"
        class="btn btn-success"
        >
    </form>
</div>

<style>
    body {
        background-color: lightgoldenrodyellow;
    }
    input {
        margin-block: 5px;
    }
    .form-label {
    margin-block: 5px;
    }
</style>

{% endblock %} 