{% layout 'layout.liquid' %}

{% block content %}
<h1><b><u>Welcome to {{mountain.name}}!</u></b></h1>
<div><img src="{{mountain.img}}" width="300" height="300">
<article>
<ul>
    <li>
        <b>Location:</b> {{mountain.location}}
    </li>
    <li>
        <b>Elevation:</b> {{mountain.elevation}}
    </li>
    <li>
        <b>Description of Mountain/Area:</b> {{mountain.description}}
    </li>
    <li>
        <b>Activities to do:</b> {{mountain.activity}}
    </li>
    <li>
        <b>Number of Lifts:</b> {{mountain.numberOfLift}}
    </li>
    <li>
        <b>Number of Trails/Slopes:</b> {{mountain.numberOfRun}}
    </li>
</ul>
    <div class="btn-group">
        
        <a href="/mountains/{{mountain._id}}/edit" class="btn btn-primary">Edit Mountain</a>
        <form action="/mountains/{{mountain._id}}?_method=DELETE" method="POST">
            <input type="submit" value="DELETE" class="btn btn-danger">
        </form>
    </div>
</article>


<div>
    <form action="/mountains/{{mountain._id}}/favorites?_method=GET" method="POST">
        <input type="submit" value="Add To My Mountains" class="btn btn-success">
    </form>
</div>

<div class="col-md-6">
    <form action="/comments/{{ mountain._id }}" method="POST">
        <fieldset>
            <legend><u>Leave Your Mark!</u></legend>
            <label class="form-label"></label>
            <input type="text" class="form-control"
            name="message" placeholder="Enter comment here"/>
        </fieldset>
        <input type="submit" class="btn btn-success" value="Add comment"/>
    </form>
</div>
{% if mountain.comments.length > 0 %}
<div class="container-sm justify-content-centered">
    <div class="col-md-8 col-lg-6">
        {% for comment in mountain.comments %}
            {% render "../comment.liquid" comment: comment, userId: userId, mountain: mountain, username: username %}
        {% endfor %}
    </div>
</div>
    {% endif %}
<button>
    <a href="/mountains/">Back to Mountains</a>
</button>
</div>
<style>
    ul {
        list-style: none;
        margin-top: 10px;
    }
    li {
        margin: 5px;
    }
    .btn {
        margin-left: 10px;
    }
    button {
        margin-top: 70px;
        
    }
    .col-md-6 {
        margin-top: 50px;
        margin-left: 25px;
    }
    .form-control {
        margin-top: 25px;
    }
</style>
{% endblock %} 